/*fonts*/
@font-face {
  font-family: "Akrobat-Regular";
  src: url("../fonts/Akrobat-Regular.ttf") format("truetype");  
}

@font-face{
  font-family: "Akrobat-Bold";
  src: url("../fonts/Akrobat-Bold.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main{
  width: 100%;
  height: 100%;
  position: relative;
}

/* Style de la page d'accueil*/
.container-nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
}
nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffce61;
  box-shadow: 0px 2px 10px grey;
  clip-path: circle(0% at 5% 0%);
  transition: clip-path .5s ease-in-out;
}
.logo-nav{
  width: auto;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.Open-innov-logo{
  height: 100%;
  width: 150px;
}

.logo-nav:hover ~ nav{
  clip-path: circle(75%);
}

ul{
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  
}
li{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #0c6cae;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}
li span{
  margin-left: 10px;
}


.logo-nav span{
  font-size: 30px;
}
.parallax{
  width: 100%;
  height: 700px;

  background-image: url(../img/img_accueil_3.png);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-principal{
  width: 250px;
  height: 150px;
}
.neon{
  color: #FAFAFA;
  text-shadow: 0 0 20px #ffce61;
}
h1{
  font-family: "Akrobat-Bold";
  font-size: 50px;
  text-transform: uppercase;
}
.partie_1{
  width: calc(100% - 30px);
  height: 500px;
  background: linear-gradient(#5b4784, #f6bd60);
  padding-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.partie_1 h2{
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1px #FAFAFA;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.partie_1 h2.active{
  color: #FAFAFA;
  -webkit-text-stroke: 1px #FAFAFA;
}
.partie_1 h2:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease-in-out;
}
.partie_1 h2.active:before{
  -webkit-text-stroke: 1px black;
  color: #f6bd60;
  transform: translate(5px, -5px);
}
.competances{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1000;
}
.competances-logo{
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #38bfc3;
  border-radius: 5px;
  margin-right: 50px;
}
.competances-logo:nth-child(1){
  box-shadow: -5px 5px 5px #d3d3d3;
}
.competances-logo:nth-child(2){
  box-shadow: 0px 5px 5px #d3d3d3;
}
.competances-logo:nth-child(3){
  box-shadow: 5px 5px 5px #d3d3d3;
}
.competances-logo span{
  font-size: 20px;
  color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;
}
.competances-logo > .logo-comp{
  font-size: 50px;
  margin-bottom: 10px;
}
img{
  width: 100%;
  height: 100%;
}
.partie_2{
  width: 100%;
  height: 600px;
  position: relative;
}

.pres{
  width: 100%;
  height: 100%;
  background: linear-gradient(#f6bd60, #271549);
  position: absolute;
  display: flex;
  flex-direction: row;
}
.pres .text_img, .pres .img {
  width: 50%;
  height: 100%;
  color: #271549;
}

.text_img{
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.description{
  font-size: large;
  font-family: "Akrobat-Regular";
  text-align: justify;
}
.des-1{
  color: #38BFC3;
}
.des-2{
  color: #4b3526;
}
.partie_3{
  width: 100%;
  height: 400px;
  background-color: hsl(261, 55%, 18%);
  padding-top: 50px;
}
.text-part-3{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  
  
}
.text-part-3 span{
  font-size: 50px;
  color: #FAFAFA;
  text-decoration: wavy;
  font-style: italic;
}
.start-button{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.button{
  text-decoration: none;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  position: relative;
  display: inline-block;
  padding: 0.75em 2em;
  border-radius: 0.3em;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  transition: background-color 0.5s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
.button::before, .button::after{
  content: "";
  background-color: #261547;
  height: 4px;
  width: 14px;
  position: absolute;
  transform: skewX(50deg);
  transition: .4s ease-in-out;

}
.button::before{
  top: -4px;
  left: 10%;
}
.button::after{
  bottom: -4px;
  right: 10%;
}
.button:hover::before{
  left: 80%;
  width: 0;
}
.button:hover::after{
  right: 80%;
  width: 0;
}
.button:hover{
  background-color: #FAFAFA;
  color: #261547;
  
}

.gotop{
  width: 60px;
  height: 60px;
  bottom: 800px;
  right: 40px;
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  box-shadow: 0 0 10px black;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.gotop.active{
  bottom: 40px;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.gotop span{
  color: #38bfc3;
  font-size: 30px;
}

@media (max-height: 600px) and (min-width: 530px){
.partie_1, .partie_2, .partie_3{
  height: 400px;
}
.partie_2{
  flex-direction: column;
}
}
@media (max-width: 1250px){
  .Open-innov-logo{
    display: none;

  }
  ul{
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 550px){
  li{
    font-size: 15px;
  }
  h1{
    font-size: 30px;
  }
  nav{
    height: 70px;
  }
  .text-part-3 span{
    font-size: 30px;
  }
  .pres{
    flex-direction: column;
    width: 100%;
  }
  .pres .text_img{
    width: calc(100% - 40px);
  }
  .pres .img{
    width: 100%;
  }
  .partie_2{
    height: 1000px;
  }
}

/*style de la page de connexion*/
.main-index{
  background-image: url(../img/bg-index.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.connect-form-div{
  height: 100%;
  width: 40%;
  margin-left: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.connect-form-div form{
  height: 70%;
  width: 65%;
  background-color: #ffdd63;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #ffce61;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form-logo{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  height: 100%;
  width: 170px;
}
.div-input{
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-top: 70px;
  color: #1963a0;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.input{
  margin-top: 0.5rem;
  width: calc(100% -10px);
  height: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffee62;
  border-radius: 6px;
  box-shadow: 3px 5px 5px gray;
  
  
}
.input input{
  margin-left: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width:100%;
  color:#1963a0;
  cursor:default;
  
}
.forgot-mdp{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.forgot-mdp a{
  font-style: none;
  text-decoration: none;
  color: #1963a0;
  font-size: 15px;
  
}
.remember{
  width: 70%;
  margin-top: 30px;
  color: #1963a0;
}
.valid-form{
  width: 100%;
  height: 50px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.valid-form button{
  border: 2px solid #1963a0;
  color: #1963a0;
  width: 50%;
  height: 100%;
  border-radius: 15px;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.valid-form button::before{
  content: "";
  width: 10px;
  height: 2px;
  background-color: #ffdd63;
  position: absolute;
  transform: skewX(60deg);
  top: -2px;
  left: 10%;
  transition: all 0.5s ease-in-out;
  
}
.valid-form button::after{
  content: "";
  width: 10px;
  height: 2px;
  right: 10%;
  background-color: #ffdd63;
  position: absolute;
  transform: skewX(60deg);
  bottom: -2px;
  transition: all 0.5s ease-in-out;
  
}
.valid-form button:hover{
  background-color: #1963a0;
  color: #FAFAFA;
}
.valid-form button:hover::before{
  width: 0px;
  left: 80%;
}
.valid-form button:hover::after{
  width: 0px;
  right: 80%;
}