/*fonts*/
@font-face {
  font-family: "Akrobat-Regular";
  src: url("../fonts/Akrobat-Regular.ttf") format("truetype");  
}

@font-face{
  font-family: "Akrobat-Bold";
  src: url("../fonts/Akrobat-Bold.ttf") format("truetype");
}


body{
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  height: 100%;
  position: relative;
}
.container-nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
}
nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffe900;
  box-shadow: 0px 2px 10px grey;
  clip-path: circle(0% at 5% 0%);
  transition: clip-path .5s ease-in-out;
}
.logo-nav{
  width: auto;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.Open-innov-logo{
  padding: 10px;
  height: calc(100%-20px);
  width: 120px;
}

.logo-nav:hover ~ nav{
  clip-path: circle(75%);
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}
.logo-nav span{
  font-size: 30px;
}
.parallax{
  width: 100%;
  height: 700px;

  background-image: url(../img/img_accueil_3.png);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-principal{
  width: 250px;
  height: 150px;
}
.neon{
  color: #FAFAFA;
  text-shadow: 0 0 20px #ffe900;
}
h1{
  font-family: "Akrobat-Bold";
  font-size: 50px;
  text-transform: uppercase;
}
.partie_1{
  width: 100%;
  height: 500px;
  justify-content: center;
  text-align: center;
  background-color: #FAFAFA;
}

img{
  width: 100%;
  height: 100%;
}
.partie_2{
  width: 100%;
  height: 600px;
  position: relative;
}

.pres{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 233, 0, 0.7);
  position: absolute;
  display: flex;
  flex-direction: row;
}
.pres .text_img, .pres .img {
  width: 50%;
  height: 100%;
  color: #271549;
}
.img-1{

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-2{
  
  
  

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text_img{
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.description{
  font-size: large;
  font-family: "Akrobat-Regular";
  text-align: justify;
}
.des-1{
  color: #38BFC3;
}
.des-2{
  color: #4b3526;
}
.partie_3{
  width: 100%;
  height: 500px;
  background-color: hsl(261, 55%, 18%);
  padding-top: 20px;
}
.text-part-3{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  
  
}
.text-part-3 span{
  font-size: 50px;
  color: #FAFAFA;
  text-decoration: wavy;
  font-style: italic;
}
.start-button{
  height: 100px;
}
.button{
  
  border: none;
  position: relative;
  display: block;
  padding: 0.5em 2.2em;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  color: #FAFAFA;
  overflow: hidden;
  user-select: none;
}
.button span{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #FAFAFA;
}
.button span::before{
  content: '';
  position: absolute;
  width: 8%;
  height: 500%;
  background-color: #271549;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
}
.button:hover span::before{
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background-color: #FAFAFA;
}
.gotop{
  width: 60px;
  height: 60px;
  bottom: 800px;
  right: 40px;
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  box-shadow: 0 0 10px black;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.gotop.active{
  bottom: 40px;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.gotop span{
  color: #38bfc3;
  font-size: 30px;
}

@media (max-height: 600px) and (min-width: 530px){
.partie_1, .partie_2, .partie_3{
  height: 400px;
}
.partie_2{
  flex-direction: column;
}
}